In [12]:
import numpy as np
from fpcluster.clustering import clustering
from DUST.read_data import read_flexpart_trajectories,load_trajectories
import pandas as pd

In [11]:
clustering.

In [2]:
path = '/opt/uio/flexpart/SGS_test/conc_20micron_sgs_on/'
df1 = read_flexpart_trajectories(path)

In [3]:
df = df1[0]
locs = df1[1]
n_clusters = 5
cluster_cols=[] 
clusters = ['x','y', 'z']

for i in range(0,n_clusters):
    for cluster in clusters:
        cluster_cols.append('{}cluster({})'.format(cluster,i))

cluster_cols.append('time')

In [15]:
pathdata = df[df.location=='SACOL COARSE-SILT'].loc[:,cluster_cols]
pathdata.index = pathdata.time
pathdata = pathdata.drop('time', axis=1)

In [27]:
load_trajectories('/mnt/NIRD/seeds_africa/Seeds_africa_2016/20160101_00/output/trajectories.txt')[0]

,location,time,lon,lat,height,mean topography,mean mixing height,mean tropopause height,mean PV index,rms distance,...,ycluster(3),zcluster(3),fcluster(3),rmscluster(3),xcluster(4),ycluster(4),zcluster(4),fcluster(4),rmscluster(4),start time
0,-10800,0,29.68619,-1.330383,29.68619,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01
1,-1.330383,10.00000,50.00000,1.000000,2000.00000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01
2,Virunga,AIRTRACER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01
3,1,-12600,38.27360,13.022200,2168.20000,1918.6,227.2,15962.4,0.29,8.1,...,13.099,2143.0,21.2,4.5,38.257,13.041,2153.0,33.0,4.1,2016-01-01
4,2,-12600,37.70480,9.996900,2057.10000,1985.9,115.8,15866.8,0.38,6.0,...,9.955,2064.0,20.6,3.3,37.705,10.038,2058.0,21.9,3.3,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,4,-858600,64.36840,17.268800,5876.00000,208.6,400.8,15100.3,0.21,3593.6,...,24.631,3350.0,30.2,1010.7,74.433,-1.260,6217.0,21.0,1042.7,2016-01-01
383,5,-858600,70.34920,23.940400,4838.90000,263.4,296.9,14600.3,0.29,2663.0,...,9.955,6344.0,29.2,939.0,49.171,50.462,6432.0,13.9,828.3,2016-01-01
384,6,-858600,65.35610,23.244600,4609.40000,277.1,309.0,14662.1,0.26,2521.0,...,19.357,5162.0,20.7,783.9,49.121,50.142,6694.0,14.4,893.5,2016-01-01
385,7,-858600,67.94320,19.240000,4489.30000,243.6,435.9,15261.3,0.21,2077.5,...,23.275,2838.0,42.7,778.5,54.278,46.608,7086.0,4.4,1094.5,2016-01-01
386,8,-858600,65.97990,14.850600,5211.30000,221.4,440.4,15197.0,0.17,2400.8,...,9.836,6450.0,28.8,1001.5,68.522,2.051,4626.0,15.4,869.1,2016-01-01

In [20]:
pathdata.index.max()

-48600

In [21]:
df.time.max()

-48600

In [13]:
pathdata.where(pathdata.time==-48600,inplace=True,axis=0)

In [13]:
print(clustering.__doc__)

xclust,yclust,zclust,fclust,rms,rmsclust,zrms = clustering(xl,yl,zl,[n,ncluster])

Wrapper for ``clustering``.

Parameters
----------
xl : input rank-1 array('f') with bounds (n)
yl : input rank-1 array('f') with bounds (n)
zl : input rank-1 array('f') with bounds (n)

Other Parameters
----------------
n : input int, optional
    Default: len(xl)
ncluster : input int, optional
    Default: 5

Returns
-------
xclust : rank-1 array('f') with bounds (ncluster)
yclust : rank-1 array('f') with bounds (ncluster)
zclust : rank-1 array('f') with bounds (ncluster)
fclust : rank-1 array('f') with bounds (ncluster)
rms : float
rmsclust : rank-1 array('f') with bounds (ncluster)
zrms : float

In [7]:
xclust = np.zeros(5)
yclust = np.zeros(5)
zclust = np.zeros(5)
fclust = np.zeros(5)
rmsclust=np.zeros(5)
rms = float()
zrms = float()



print(fpcluster.clustering(pathdata['xcluster(0)'].values, pathdata['ycluster(0)'].values, pathdata['zcluster(0)'].values))

(array([ 31.643665,  68.5005  , 101.05346 ,  83.31025 ,  59.27071 ],
      dtype=float32), array([35.50187 , 57.505413, 37.049446, 40.16477 , 36.24588 ],
      dtype=float32), array([11994.156 , 10494.541 ,  4901.969 ,  7534.5386,  9855.    ],
      dtype=float32), array([ 8.809063 ,  7.2851152, 40.509594 , 26.878729 , 16.517498 ],
      dtype=float32), 778.9945678710938, array([1087.2664 , 1246.9666 ,  552.58276,  716.653  ,  879.17804],
      dtype=float32), 1981.5513916015625)

In [43]:
fclust

array([0., 0., 0., 0., 0.])